numpy
pandas
matplotlib
seaborn
pandas-profiling
plotly
ppscore

streamlit

feature-engine
imbalanced-learn
scikit-learn
xgboost
yellowbrick
Jinja2
MarkupSafe
protobuf
ipywidgets

ydata-profiling
pandas-profiling
dtale